@{
    ViewData["Title"] = "Book Detail"+Model.Title;
}
@model BookModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallery.Count; i++) 
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li> 
                        }
                   
                    
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallery.Count; i++)
                    {
                        
                        <div  class="@(i==0 ? "carousel-item active":"carousel-item")">

                            <img class="d-block w-100"  src="@Model.Gallery[i].URL"  alt="@Model.Gallery[i].Name" />
                        </div>
                        }
                    
                   
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class=" col-md-12">
                    <h1>@Model.Title </h1>
                </div>

            </div>
            <div class="row">
                <div class=" col-md-12">
                    <span>
                        By:
                    </span>
                    <span>
                        @Model.Auther
                    </span>
                </div>

            </div>
            <div class="row">
                <div class=" col-md-12">

                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="row">
                    <div class=" col-md-12">

                        <p>
                            @Model.Language
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">

                        <a class="btn btn-outline-primary" href=" @Model.BookUrl" target="_blank" >
                         Read Now  
                        </a>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Category</span>@Model.Category</li>
                    <li class="list-group-item"><span class="font-weight-bold">Total Page</span>@Model.TotalPage</li>
                    <li class="list-group-item"><span class="font-weight-bold">Language</span>@Model.Language</li>


                </ul>


            </div>
        </div>
    </div>
    </div>
